.Ft{
    background-color: black;
    width:100vw;
    height:calc(55vh + 4px);
    min-height:405px;
    /* overflow:hidden; */
    max-width: 100%;
    color:rgba(255,255,255,0.6);
}
.ph{
    height:50%;
    width:100%;
    /* background-color: red; */
    padding-left:4%;
    display: flex;
    align-items:end;
    justify-content: start;
    padding-bottom: 0%;
}
a{
    color:rgba(255,255,255,0.6)
}
.ph a{
    text-decoration: none;
}
.ph a:hover{
    text-decoration: underline;
}
.Fte{
    height: 50%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:10%;
    max-width: 100%;
    justify-content: start;
    align-items: start;
    /* font-size:small; */
    
padding:5%;
padding-top:1%;
padding-bottom: 0%;
}
.Ftec{
    margin:5px 5px;
    /* display: flex;
    align-items: start;
    justify-content: start; */
}
@media only screen and (max-width: 500px) {
    .Ft{
      /* background-color:rgba(0, 0, 0,1); */
        border-top:1px solid rgba(255,255,255,0.4);
    }
    
    /* //more */
  }

@media (max-width: 1100px) {
    .Fte{
        grid-template-columns: 1fr 1fr; /* Switch to 1 column */
        grid-template-rows: repeat(3,auto);
        /* font-size:small; */
    }
}